<!DOCTYPE html>
<html>
<head>
  <title>index</title>
</head>
<body>
<form action="/checkout" method="post">
  <label for="item_name_1">Item No. 1</label>
  <input type="text" id="item_name" name="item[name]">
  <button name="submit" >Submit</button>
</form>
</body>
</html>
