<!DOCTYPE html>
<html>
<head>
  <title>index</title>
</head>
<body>
<form action="/checkout"  method="post">
  <input type="text" name="item">
  <button name="submit" </button> 
</form>
</body>
</html>
