<!DOCTYPE html>
<html>
<head>
  <title>index</title>
</head>
<body>
<form action="/checkout"  method="post">
  <label for="item_name" type="text"</label>
  <input type="text" id="item_name" name=item[name]>
  <button name="submit" </button>
</form>
</body>
</html>
